<h1 class="text-2xl font-bold text-center mt-8 mb-4 text-gray-900 dark:text-white">Modifier les informations</h1>
<div class="flex flex-col items-center justify-center w-full">
  <div>
      <input type="file" #fileInput (change)="importimg($event)" hidden>
      <img 
  [src]="user.pathimage || 'https://ui-avatars.com/api/?name=User'" 
  (click)="fileInput.click()" 
  alt="Click to upload" class="w-20 h-20 rounded-full object-cover border-4 border-white shadow-md cursor-pointer mb-4"
> 
<label>click to update</label>
    </div>
  <form class="bg-slate-50 dark:bg-gray-800 p-6 rounded-lg shadow-md w-full max-w-md space-y-6">
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-200">Changer le mot de passe</label>
      <input id="password" name="password" type="password" [(ngModel)]="newPassword.password" placeholder="Nouveau mot de passe" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white dark:border-gray-600">
      <button type="button" (click)="changePassword()" class="submit-btn mt-2" [disabled]="!newPassword.password || newPassword.password.length <= 6">Changer le mot de passe</button>
    </div>
    <div>
      <label for="name" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-200">Changer le nom</label>
      <input id="name" name="name" type="text" [(ngModel)]="newName.name" placeholder="Nouveau nom" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white dark:border-gray-600">
      <button type="button" (click)="changeName()" class="submit-btn mt-2" [disabled]="!newName.name">Changer le nom</button>
    </div>
    
  </form>
  </div>